{% extends "emails/base_email.html" %}

{% block content %}
<h2>¡Nueva Reserva Recibida!</h2>
<p>Hola, {{ appointment.service.hairdresser.owner.first_name }}:</p>
<p>Se ha registrado una nueva cita para tu peluquería, <strong>{{ appointment.service.hairdresser.name }}</strong>. Los detalles son:</p>

<div class="detail-card">
    <div class="detail-row">
        <span class="detail-label">Cliente:</span>
        <span class="detail-value">{{ appointment.client.first_name }} {{ appointment.client.last_name }} ({{ appointment.client.email }})</span>
    </div>
    <div class="detail-row">
        <span class="detail-label">Servicio:</span>
        <span class="detail-value">{{ appointment.service.name }}</span>
    </div>
    <div class="detail-row">
        <span class="detail-label">Fecha:</span>
        <span class="detail-value">{{ appointment.start_time|date:"d/m/Y" }}</span>
    </div>
    <div class="detail-row">
        <span class="detail-label">Hora:</span>
        <span class="detail-value">{{ appointment.start_time|date:"H:i" }} hs</span>
    </div>
    <div class="detail-row">
        <span class="detail-label">Monto del servicio:</span>
        <span class="detail-value">${{ appointment.amount }}</span>
    </div>
</div>

<p>Ya puedes ver este turno programado en tu panel de agenda diaria.</p>
<p>Atentamente,<br>El equipo de Stilo</p>
{% endblock %}
