<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appointmentModalLabel">Confirmar Turno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>Fecha y Hora:</strong> <span id="modalDateTime"></span></p>
        <form id="appointmentForm" method="post">
          {% csrf_token %}
          {{ form.service.label_tag }}
          {{ form.service }}
          <input type="hidden" name="start_time" id="modalStartTime">
          {{ form.service.errors }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="document.getElementById('appointmentForm').submit();">Reservar</button>
      </div>
    </div>
  </div>
</div>
